<link rel="stylesheet" href="../common.css"/>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="https://connorjlink.com/res/logo.jpg">
<meta name="description" content="Connor Link. Computer engineering student at Iowa State University. Dubuque, Iowa, United States. Interests incompilers, processor architecture, and graphics.">
<style>
	@media (prefers-color-scheme: dark) {
		html {
			background: rgb(40, 40, 40);
		}
	}
</style>