<nav class="shadowed">
    <div class="nav-radio">
        <input type="radio" name="nav" id="home-radio" onclick="navigate('./');" checked>
        <label for="home-radio">Home</label>
    </div>
    <div class="nav-radio">
        <input type="radio" name="nav" id="portfolio-radio" onclick="navigate('./portfolio');">
        <label for="portfolio-radio">Projects</label>
    </div>
    <div class="nav-radio">
        <input type="radio" name="nav" id="experience-radio" onclick="navigate('./experience');">
        <label for="experience-radio">Experience</label>
    </div>
    <div class="nav-radio">
        <input type="radio" name="nav" id="education-radio" onclick="navigate('./education');">
        <label for="education-radio">Education</label>
    </div>
    <div class="nav-radio">
        <input type="radio" name="nav" id="contact-radio" onclick="navigate('./contact');">
        <label for="contact-radio">Contact</label>
    </div>
    <div class="nav-radio">
        <input type="radio" name="nav" id="reflections-radio" onclick="navigate('./reflections');">
        <label for="reflections-radio">Reflections</label>
    </div>
    <div class="nav-radio">
        <input type="radio" name="nav" id="resume-radio" onclick="navigate('./resume');">
        <label for="resume-radio">Résumé</label>
    </div>
</nav>    