:root {
    --error-color: rgb(190, 47, 47);
}

.heading {
    margin-bottom: 0;
}

.subheading {
    font-style: italic;
    font-weight: lighter;
    margin-top: 0;
}

#test, #test > span > span {
    font-family: 'Consolas', monospace;
    font-size: 20pt;
}

#test-container {
    vertical-align: middle;
}

#input {
    appearance: none; 
    outline: none; 
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#caret {
    transition: transform 200ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 1em;
    font-size: 20pt;
    background: var(--purple);
    border-radius: 5px;
}

.blur {
    filter: blur(5px);
}

#test-container.blur {
    filter: blur(5px);
}

#test-container:focus-within {
    filter: none;
}

#test {
    min-height: 1em;
    letter-spacing: 2px;
    transform: translateY(-1em);

    .active {
        span {
            text-decoration: underline;
        }
    }

    .incorrect {
        text-decoration: line-through 1px solid var(--error-color);
        color: var(--error-color);
    }

    .correct {
        color: var(--purple);

        span {
            text-decoration: none;
            color: var(--purple);
        }
    }

    .space {
        opacity: 0;
    }
}

#results-container {
    label {
        font-weight: bold;

        span {
            font-weight: normal;
            color: var(--purple);
        }
    }
}


.newpb {
    font-weight: bold;
    font-style: italic;
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        color: var(--purple);
    }
    50% {
        color: var(--blue);
    }
    100% {
        color: var(--purple);
    }
}